<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.4.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/powershell.min.js"></script>
    <script>hljs.highlightAll();</script>
    <title>$TAB_TITLE$</title>
</head>
<body>
    <main>
        <aside class="sidebar">
            <ul class="sidebar_list">
              <li>
                <a href="/">Introduction</a>
              </li>
              <li>
                <a href="/tools">Tools</a>
                <ul>
                    <li>
                        <a href="/tools/#vs-code">VS Code</a>
                    </li>
                    <li>
                        <a href="/tools/#git">Git</a>
                    </li>
                    <li>
                        <a href="/tools/#node-js">Node.js</a>
                        <ul>
                            <li>
                              <a href="/tools/#npm">npm</a>
                            </li>
                            <li>
                                <a href="/tools/#node_modules">node_modules</a>
                            </li>
                            <li>
                                <a href="/tools/#package-json">package.json</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/tools/#nodemon">Nodemon</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="/express">Express</a>
                <ul>
                    <li>
                        <a href="/express/#rest-api">REST API</a>
                      </li>
                    <li>
                      <a href="/express/#requests">Requests</a>
                    </li>
                    <li>
                        <a href="/express/#routers">Routers</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="/fundamentals">Programming Fundamentals</a>
                <ul>
                    <li>
                      <a href="/fundamentals/#data-types">Data Types</a>
                    </li>
                    <li>
                      <a href="/fundamentals/#variables">Variables</a>
                    </li>
                    <li>
                        <a href="/fundamentals/#arrays">Arrays</a>
                    </li>
                    <li>
                        <a href="/fundamentals/#functions">Functions</a>
                    </li>
                    <li>
                        <a href="/fundamentals/#loops">Loops</a>
                    </li>
                    <li>
                        <a href="/fundamentals/#asynchronous">Asynchronous</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="/export-import">Export / Import</a>
                <ul>
                    <li>
                      <a href="/export-import/#commonjs">CommonJS</a>
                    </li>
                    <li>
                        <a href="/export-import/#esmodules">ES Modules</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="/rendering">Rendering</a>
                <ul>
                    <li>
                      <a href="/rendering/#ssr">Server Side Rendering</a>
                    </li>
                    <li>
                        <a href="/rendering/#csr">Client Side Rendering</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="/clean-code">Clean Code</a>
                <ul>
                    <li>
                      <a href="/clean-code/#debug">Debugging</a>
                    </li>
                    <li>
                        <a href="/clean-code/#linters">Linters</a>
                    </li>
                  </ul>
              </li>
            </ul>
          </aside>
          <div class="doc-content">